/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;

  width: max-content;

  background-color: #FFFFFF;
  box-shadow: -1px 1px 14px 0px rgba(125,125,125,0.32);
  color: #353535;
  
  padding: 3px;
  border-radius: 2px;
  font-size:10px;
  top:-14px;
  left: 10px;
  position: absolute;
  z-index: 99;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>*/